  body {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

body.loaded {
  opacity: 1;
}

  
  
  .nav-link {
      position: relative;
      padding-bottom: 6px;
      transition: color 0.3s ease;
    }

  
    .nav-link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: #a855f7;
      transition: width 0.3s ease;
    }

    .nav-link:hover::after {
      width: 100%;
    }

    .nav-link:hover {
      color: #a855f7;
    }




    
.discover-btn {
  transition: color 0.3s ease;
}


.discover-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #ec4899,
    #a855f7,
    #ec4899
  );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  filter: blur(0px);
}


.discover-btn:hover::before {
  transform: scaleX(1);
}

.discover-btn:hover {
  color: #020617;
}


.discover-btn:hover::before {
  box-shadow: 0 0 25px rgba(236, 72, 153, 0.8);
}




   .nav-link, .nav-link-super {
      position: relative;
      padding-bottom: 6px;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    
    .nav-link::after, .nav-link-super::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: #a855f7;
      transition: width 0.3s ease;
    }

    
    .nav-link:hover::after, .nav-link-super:hover::after {
      width: 100%;
    }

    .nav-link:hover, .nav-link-super:hover {
      color: #a855f7;
    }